@page
@model BookStore.Client.Pages.BookBorrowing.CreateModel

@{
	ViewData["Title"] = "Create";
}
<head>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/css/multi-select.min.css" />
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/js/jquery.multi-select.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js"></script>

</head>
<h1>Create</h1>

<h4>BookBorrowingRequest</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="BookBorrowingRequest.UserRquestId" class="control-label"></label>
				<select asp-for="BookBorrowingRequest.UserRquestId" id="requestId" class="form-control" asp-items="ViewBag.UserRquestId"></select>
			</div>
			<div class="form-group">
				<label asp-for="BookBorrowingRequest.UserApprovedName" class="control-label"></label>
				<input asp-for="BookBorrowingRequest.UserApprovedName" id="approveName" class="form-control" />
				<span asp-validation-for="BookBorrowingRequest.UserApprovedName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">Book Name</label>
				<select id="bookId" name="lstFruits" asp-items="@ViewBag.BookId" multiple></select>
			</div>
			<div class="form-group">
				<button type="button" onclick="createNewBook()">Create</button>
			</div>
		</form>
	</div>
</div>

<div>
	<a href="https://localhost:7115/BookBorrowing">Back to List</a>
</div>
<script type="text/javascript">
	function createNewBook() {
		var book = {
			userRequestId: $('#requestId').val(),
			bookIds: $('#bookId').val()
		};

		if (book) {
			var jwt = Cookies.get('jwt');
			console.log(book);
			$.ajax({
				url: "https://localhost:7233/api/book-management/book-borrowing",
				type: "POST",
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				data: JSON.stringify(book),
				beforeSend: function (xhr) {
					xhr.setRequestHeader('Authorization', 'Bearer ' + jwt);
				},
				success: function (result, status, xhr) {
					window.location.href = "https://localhost:7115/BookBorrowing";
				},
				error: function (xhr, status, error) {
					if (xhr.status == 401) {
						alert("You need to login first")
						window.location.href = "https://localhost:7115/Login";
					} else if (xhr.status == 403) {
						window.location.href = "https://localhost:7115/Error";
					}
				}
			});
		}
	}
</script>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
