@page
@model BookStore.Client.Pages.BookBorrowing.IndexModel

@{
	ViewData["Title"] = "Index";
}
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js"></script>

</head>
<h1>Index</h1>

<p>
	<a asp-page="Create">Create New</a>
	<a href="" onclick="LoadData()">Back to full list</a>
		<div class="form-group">
			<select id="status" asp-items="ViewBag.Status" class="form-control"></select>
		</div>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.BookBorrowingRequest[0].UserApprovedName)
			</th>
			<th>
				User Request Name
				<input type="text" name="Title" placeholder="Input username" id="searchtext" />
				<button type="button">Search</button>
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BookBorrowingRequest[0].Status)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BookBorrowingRequest[0].RequestDate)
				<a href="#" onclick="onSortDes()">Des</a>
				<a href="#" onclick="onSortAsc()">Asc</a>
			</th>
			<th>
				Edit
			</th>
			<th>
				Detail
			</th>
			<th>
				Delete
			</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
<script type="text/javascript">
	$(document).ready(function () {
		$('#searchtext').on('keyup', function () {
			var searchtext = $('#searchtext').val();
			var jwt = Cookies.get('jwt');
			$("table tbody").html("");
			$.ajax({
				url: "https://localhost:7233/api/book-management/book-borrowing?$filter=contains(tolower(userRequestName)," + "'" + searchtext.toLowerCase() + "')",
				type: "GET",
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				beforeSend: function (xhr) {
					xhr.setRequestHeader('Authorization', 'Bearer ' + jwt);
				},
				success: function (result, status, xhr) {
					$("table tbody").html("");
					$.each(result, function (index, value) {
						var appendElement = $("<tr>");
						appendElement.append($("<td>").html(value["userApprovedName"]));
						appendElement.append($("<td>").html(value["userRequestName"]));
						var statusText = "";
						if (value["status"] === 0) {
							statusText = "Pending";
						} else if (value["status"] === 1) {
							statusText = "Approved";
						} else if (value["status"] === -1) {
							statusText = "Rejected";
						} else {
							statusText = "unknown";
						}
						appendElement.append($("<td>").html(statusText));
						var publishedDate = moment(value["requestDate"]).format("DD/MM/YYYY");
						if (moment(publishedDate, "DD/MM/YYYY", true).isValid()) {
							appendElement.append($("<td>").html(publishedDate));
						} else {
							appendElement.append($("<td>").html("Invalid date"));
						}
						appendElement.append($("<td>").html("<a href=\"BookBorrowing/Edit?id=" + value["bookBorrowingRequestId"] + "\">Edit</a>"));
						appendElement.append($("<td>").html("<a href=\"BookBorrowing/Details?id=" + value["bookBorrowingRequestId"] + "\">Detail</a>"));
						appendElement.append($("<td>").html("<a href=\"BookBorrowing/Delete?id=" + value["bookBorrowingRequestId"] + "\">Delete</a>"));
						$("table tbody").append(appendElement);
					});
				},
				error: function (xhr, status, error) {
					if (xhr.status == 401) {
						alert("You need to login first")
						window.location.href = "https://localhost:7115/Login";
					} else if (xhr.status == 403) {
						window.location.href = "https://localhost:7115/Error";
					}
				}
			});
		});
		$('#status').on('change', function () {
			var title = $('#status').val();
			var jwt = Cookies.get('jwt');
			var status = "";
			if (title == 0) {
				status = "Pending"
			} else if (title == 1) {
				status = "Approved"
			} else {
				status = "Rejected"
			}
			$("table tbody").html("");
			$.ajax({
				url: "https://localhost:7233/api/book-management/book-borrowing?$filter=status" + " eq " + "'" + status + "'",
				type: "GET",
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				beforeSend: function (xhr) {
					xhr.setRequestHeader('Authorization', 'Bearer ' + jwt);
				},
				success: function (result, status, xhr) {
					$("table tbody").html("");
					$.each(result, function (index, value) {
						var appendElement = $("<tr>");
						appendElement.append($("<td>").html(value["userApprovedName"]));
						appendElement.append($("<td>").html(value["userRequestName"]));
						var statusText = "";
						if (value["status"] === 0) {
							statusText = "Pending";
						} else if (value["status"] === 1) {
							statusText = "Approved";
						} else if (value["status"] === -1) {
							statusText = "Rejected";
						} else {
							statusText = "unknown";
						}
						appendElement.append($("<td>").html(statusText));
						var publishedDate = moment(value["requestDate"]).format("DD/MM/YYYY");
						if (moment(publishedDate, "DD/MM/YYYY", true).isValid()) {
							appendElement.append($("<td>").html(publishedDate));
						} else {
							appendElement.append($("<td>").html("Invalid date"));
						}
						appendElement.append($("<td>").html("<a href=\"BookBorrowing/Edit?id=" + value["bookBorrowingRequestId"] + "\">Edit</a>"));
						appendElement.append($("<td>").html("<a href=\"BookBorrowing/Details?id=" + value["bookBorrowingRequestId"] + "\">Detail</a>"));
						appendElement.append($("<td>").html("<a href=\"BookBorrowing/Delete?id=" + value["bookBorrowingRequestId"] + "\">Delete</a>"));
						$("table tbody").append(appendElement);
					});
				},
				error: function (xhr, status, error) {
					if (xhr.status == 401) {
						window.location.href = "https://localhost:7115/Login";
					} else if (xhr.status == 403) {
						window.location.href = "https://localhost:7115/Error";
					}
				}
			});
		});
		LoadData();
	});

	function LoadData() {
		$("table tbody").html("");
		var jwt = Cookies.get('jwt');
		$.ajax({
			url: "https://localhost:7233/api/book-management/book-borrowing",
			type: "GET",
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			beforeSend: function (xhr) {
				xhr.setRequestHeader('Authorization', 'Bearer ' + jwt);
			},
			success: function (result, status, xhr) {
				$.each(result, function (index, value) {
					var appendElement = $("<tr>");
					appendElement.append($("<td>").html(value["userApprovedName"]));
					appendElement.append($("<td>").html(value["userRequestName"]));
					var statusText = "";
					if (value["status"] === 0) {
						statusText = "Pending";
					} else if (value["status"] === 1) {
						statusText = "Approved";
					} else if (value["status"] === -1) {
						statusText = "Rejected";
					} else {
						statusText = "unknown";
					}
					appendElement.append($("<td>").html(statusText));
					var publishedDate = moment(value["requestDate"]).format("DD/MM/YYYY");
					if (moment(publishedDate, "DD/MM/YYYY", true).isValid()) {
						appendElement.append($("<td>").html(publishedDate));
					} else {
						appendElement.append($("<td>").html("Invalid date"));
					}
					appendElement.append($("<td>").html("<a href=\"BookBorrowing/Edit?id=" + value["bookBorrowingRequestId"] + "\">Edit</a>"));
					appendElement.append($("<td>").html("<a href=\"BookBorrowing/Details?id=" + value["bookBorrowingRequestId"] + "\">Detail</a>"));
					appendElement.append($("<td>").html("<a href=\"BookBorrowing/Delete?id=" + value["bookBorrowingRequestId"] + "\">Delete</a>"));
					$("table tbody").append(appendElement);
				});
			},
			error: function (xhr, status, error) {
				if (xhr.status == 401) {
					alert("You need to login first")
					window.location.href = "https://localhost:7115/Login";
				} else if (xhr.status == 403) {
					window.location.href = "https://localhost:7115/Error";
				}
			}
		});
	}

	function onSortDes() {
		var title = $('#title').val();
		var jwt = Cookies.get('jwt');

		$("table tbody").html("");
		$.ajax({
			url: "https://localhost:7233/api/book-management/book-borrowing?$orderby=requestDate" + " desc",
			type: "GET",
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			beforeSend: function (xhr) {
				xhr.setRequestHeader('Authorization', 'Bearer ' + jwt);
			},
			success: function (result, status, xhr) {
				$("table tbody").html("");
				$.each(result, function (index, value) {
					var appendElement = $("<tr>");
					appendElement.append($("<td>").html(value["userApprovedName"]));
					appendElement.append($("<td>").html(value["userRequestName"]));
					var statusText = "";
					if (value["status"] === 0) {
						statusText = "Pending";
					} else if (value["status"] === 1) {
						statusText = "Approved";
					} else if (value["status"] === -1) {
						statusText = "Rejected";
					} else {
						statusText = "unknown";
					}
					appendElement.append($("<td>").html(statusText));
					var publishedDate = moment(value["requestDate"]).format("DD/MM/YYYY");
					if (moment(publishedDate, "DD/MM/YYYY", true).isValid()) {
						appendElement.append($("<td>").html(publishedDate));
					} else {
						appendElement.append($("<td>").html("Invalid date"));
					}
					appendElement.append($("<td>").html("<a href=\"BookBorrowing/Edit?id=" + value["bookBorrowingRequestId"] + "\">Edit</a>"));
					appendElement.append($("<td>").html("<a href=\"BookBorrowing/Details?id=" + value["bookBorrowingRequestId"] + "\">Detail</a>"));
					appendElement.append($("<td>").html("<a href=\"BookBorrowing/Delete?id=" + value["bookBorrowingRequestId"] + "\">Delete</a>"));
					$("table tbody").append(appendElement);
				});
			},
			error: function (xhr, status, error) {
				if (xhr.status == 401) {
					window.location.href = "https://localhost:7115/Login";
				} else if (xhr.status == 403) {
					window.location.href = "https://localhost:7115/Error";
				}
			}
		});
		return false;
	}

	function onSortAsc() {
		var title = $('#title').val();
		var jwt = Cookies.get('jwt');

		$("table tbody").html("");
		$.ajax({
			url: "https://localhost:7233/api/book-management/book-borrowing?$orderby=requestDate" + " asc",
			type: "GET",
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			beforeSend: function (xhr) {
				xhr.setRequestHeader('Authorization', 'Bearer ' + jwt);
			},
			success: function (result, status, xhr) {
				$("table tbody").html("");
				$.each(result, function (index, value) {
					var appendElement = $("<tr>");
					appendElement.append($("<td>").html(value["userApprovedName"]));
					appendElement.append($("<td>").html(value["userRequestName"]));
					var statusText = "";
					if (value["status"] === 0) {
						statusText = "Pending";
					} else if (value["status"] === 1) {
						statusText = "Approved";
					} else if (value["status"] === -1) {
						statusText = "Rejected";
					} else {
						statusText = "unknown";
					}
					appendElement.append($("<td>").html(statusText));
					var publishedDate = moment(value["requestDate"]).format("DD/MM/YYYY");
					if (moment(publishedDate, "DD/MM/YYYY", true).isValid()) {
						appendElement.append($("<td>").html(publishedDate));
					} else {
						appendElement.append($("<td>").html("Invalid date"));
					}
					appendElement.append($("<td>").html("<a href=\"BookBorrowing/Edit?id=" + value["bookBorrowingRequestId"] + "\">Edit</a>"));
					appendElement.append($("<td>").html("<a href=\"BookBorrowing/Details?id=" + value["bookBorrowingRequestId"] + "\">Detail</a>"));
					appendElement.append($("<td>").html("<a href=\"BookBorrowing/Delete?id=" + value["bookBorrowingRequestId"] + "\">Delete</a>"));
					$("table tbody").append(appendElement);
				});
			},
			error: function (xhr, status, error) {
				if (xhr.status == 401) {
					window.location.href = "https://localhost:7115/Login";
				} else if (xhr.status == 403) {
					window.location.href = "https://localhost:7115/Error";
				}
			}
		});
		return false;
	}

</script>