@page
@model BookStore.Client.Pages.UserPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js"></script>

</head>
<h1>EditProfile</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.UserId" id="id" />
            <div class="form-group">
                <label asp-for="User.UserName" class="control-label"></label>
                <input asp-for="User.UserName" class="form-control" id="userName" />
                <span asp-validation-for="User.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Password" class="control-label"></label>
                <input asp-for="User.Password" type="password" class="form-control" id="pass" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Address" class="control-label"></label>
                <input asp-for="User.Address" class="form-control" id="add" />
                <span asp-validation-for="User.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.PhoneNumber" class="control-label"></label>
                <input asp-for="User.PhoneNumber" class="form-control" id="phone" />
                <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="button" onclick=" UpdateBook()">Update</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
<script type="text/javascript">
    function UpdateBook() {
        var book = {
            userName: $('#userName').val(),
            password: $('#pass').val(),
            address: $('#add').val(),
            phoneNumber: $('#phone').val(),
            role: parseInt($('#role').val()),
        };
        console.log($('#status').val());
        var id = $('#id').val();
        var jwt = Cookies.get('jwt');

        if (book) {
            $.ajax({
                url: "https://localhost:7233/api/user-management/users/" + id,
                type: "PUT",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(book),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + jwt);
                },
                success: function (result, status, xhr) {
                    window.location.href = "https://localhost:7115/Users";
                },
                error: function (xhr, status, error) {
                    if (xhr.status == 401) {
                        alert("You need to login first")
                        window.location.href = "https://localhost:7115/Login";
                    } else if (xhr.status == 403) {
                        window.location.href = "https://localhost:7115/Error";
                    }
                }
            });
        }
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
