@page
@model BookStore.Client.Pages.Book.EditModel

@{
	ViewData["Title"] = "Edit";
}
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js"></script>

</head>
<h1>Edit</h1>

<h4>Books</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form>
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Books.BookId" id="id" />
			<div class="form-group">
				<label asp-for="Books.BookName" class="control-label"></label>
				<input asp-for="Books.BookName" class="form-control" id="bookName" />
				<span asp-validation-for="Books.BookName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Books.PublisherName" class="control-label"></label>
				<input asp-for="Books.PublisherName" class="form-control" id="pubName" />
				<span asp-validation-for="Books.PublisherName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Books.PublishedDate" class="control-label"></label>
				<input asp-for="Books.PublishedDate" class="form-control" id="pubDate" />
				<span asp-validation-for="Books.PublishedDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Books.CategoryId" class="control-label"></label>
				<select asp-for="Books.CategoryId" class="form-control" id="cateId" asp-items="ViewBag.CategoryId"></select>
			</div>
			<div class="form-group">
				<button type="button" value="Save" onclick="UpdateBook()" class="btn btn-primary">Update</button>
			</div>
		</form>
	</div>
</div>

<div>
	<a href="https://localhost:7115/Book">Back to List</a>
</div>
<script type="text/javascript">
	function UpdateBook() {
		var book = {
			bookName: $('#bookName').val(),
			publisherName: $('#pubName').val(),
			publishedDate: new Date($('#pubDate').val()),
			categoryId: parseInt($('#cateId').val())
		};
		var id = $('#id').val();
		var jwt = Cookies.get('jwt');
		if (book) {
			$.ajax({
				url: "https://localhost:7233/api/book-management/books/" + id,
				type: "PUT",
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				data: JSON.stringify(book),
				beforeSend: function (xhr) {
					xhr.setRequestHeader('Authorization', 'Bearer ' + jwt);
				},
				success: function (result, status, xhr) {
					window.location.href = "https://localhost:7115/Book";
				},
				error: function (xhr, status, error) {
					if (xhr.status == 401) {
						alert("You need to login first")
						window.location.href = "https://localhost:7115/Login";
					} else if (xhr.status == 403) {
						window.location.href = "https://localhost:7115/Error";
					}
				}
			});
		}
	}
</script>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
