@page
@model BookStore.Client.Pages.Book.IndexModel

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<p>
	<a asp-page="Create">Create New</a>
	<a href="" onclick="LoadData()">Back to full list</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Books[0].BookName)
				<input type="text" name="Title" placeholder="Input book's name" id="title" />
				<button type="button" onclick="onSearch()">Search</button>
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Books[0].PublishedDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Books[0].PublisherName)
			</th>
			<th>
				CategoryName
			</th>
			<th>
				Edit
			</th>
			<th>
				Delete
			</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
<script type="text/javascript">
	$(document).ready(function () {
		LoadData();
	});

	function LoadData() {
		$("table tbody").html("");
		$.ajax({
			url: "https://localhost:7233/api/book-management/books",
			type: "GET",
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function (result, status, xhr) {
				$.each(result, function (index, value) {
					var appendElement = $("<tr>");
					appendElement.append($("<td>").html(value["bookName"]));
					var publishedDate = moment(value["publishedDate"]).format("DD/MM/YYYY");
					if (moment(publishedDate, "DD/MM/YYYY", true).isValid()) {
						appendElement.append($("<td>").html(publishedDate));
					} else {
						appendElement.append($("<td>").html("Invalid date"));
					}
					appendElement.append($("<td>").html(value["publisherName"]));
					appendElement.append($("<td>").html(value["categoryName"]));
					appendElement.append($("<td>").html("<a href=\"Book/Edit?id=" + value["bookId"] + "\">Edit</a>"));
					appendElement.append($("<td>").html("<a href=\"Book/Delete?id=" + value["bookId"] + "\">Delete</a>"));
					$("table tbody").append(appendElement);
				});
			},
			error: function (xhr, status, error) {
				console.log(xhr);
			}
		});
	}


	function onSearch() {
		var title = $('#title').val();
		$("table tbody").html("");
		$.ajax({
			url: "https://localhost:7233/api/book-management/books?$filter=contains(bookName," + "'" + title + "')",
			type: "GET",
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function (result, status, xhr) {
				$("table tbody").html("");
				$.each(result, function (index, value) {
					var appendElement = $("<tr>");
					appendElement.append($("<td>").html(value["bookName"]));
					var publishedDate = moment(value["publishedDate"]).format("DD/MM/YYYY");
					if (moment(publishedDate, "DD/MM/YYYY", true).isValid()) {
						appendElement.append($("<td>").html(publishedDate));
					} else {
						appendElement.append($("<td>").html("Invalid date"));
					}
					appendElement.append($("<td>").html(value["publisherName"]));
					appendElement.append($("<td>").html(value["categoryName"]));
					appendElement.append($("<td>").html("<a href=\"Book/Edit?id=" + value["bookId"] + "\">Edit</a>"));
					appendElement.append($("<td>").html("<a href=\"Book/Delete?id=" + value["bookId"] + "\">Delete</a>"));
					$("table tbody").append(appendElement);
				});
			},
			error: function (xhr, status, error) {
				console.log(xhr)
			}
		});
		return false;
	}
</script>
