@page
@model BookStore.Client.Pages.Shippings.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Shipping</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Shipping.ReceiverName" class="control-label"></label>
                <input asp-for="Shipping.ReceiverName" class="form-control" />
                <span asp-validation-for="Shipping.ReceiverName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipping.BookBorrowingRequestId" class="control-label"></label>
                <select asp-for="Shipping.BookBorrowingRequestId" class ="form-control" asp-items="ViewBag.BookBorrowingRequestId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Shipping.CreateDate" class="control-label"></label>
                <input asp-for="Shipping.CreateDate" class="form-control" />
                <span asp-validation-for="Shipping.CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipping.Status" class="control-label"></label>
                <select asp-for="Shipping.Status" class="form-control"></select>
                <span asp-validation-for="Shipping.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
